body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.orange-color {
    color: orange;
}

.header-top {
    display: flex;
    background-color: ghostwhite;
}

.skip-diet {
    width: 50%;
    padding-left: 100px;
    padding-top: 20px;

}

.skip-diet img {
    width: 80%;

}

#header {
    padding-top: 80px;

}

h1 {
    font-size: 50px;
}

.order-button {
    padding: 20px 30px;
    background-image: linear-gradient(orange, tomato);
    width: 100px;
    border-radius: 25px;
    color: white;
}

.body-section {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-position: right;
    background-position: left;
}

.person-girl img {
    width: 50%;
    padding-top: 40px;
    padding-left: 30px;
}


.contact-me {
    padding-top: 80px;
}

.aboutMe {
    color: rgb(106, 87, 87);
}



.my-recipie {
    text-align: center;
}

.recipie-title {
    display: flex;
    margin: 80px;

}

.food-recipie {
    border: 1px solid gainsboro;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.food-recipie img {
    width: 600px;
    height: 400px;
}

.youtube-body {
    display: flex;
    margin: 80px;
}

.follower {
    width: 40%;
    margin-left: 120px;
}

.follower p {
    padding-bottom: 50px;
    margin-bottom: 10px;
}